<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="asset/image/favicon.ico" type="image/icon" />
    <link
      rel="shortcut icon"
      href="asset/image/favicon.ico"
      type="image/x-icon"
    />
    <title>欢乐斗地主-桌面版</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/card-number.css" />
  </head>
  <body>
    <div id="app">
      <div id="welcome" v-if="displayStatus.welcome">
        <h1>欢乐斗地主，欢迎您的到来！{{ username }}</h1>
        <button @click="enterStage">点击开始游戏</button>
      </div>

      <div
        v-show="displayStatus.clock"
        class="clock"
        :class="{['clock--'+ ['left','myself','right'][grabLandlordInfo.currentGrabTurnIndex] ]:displayStatus.countdownOfGrab,['clock--'+ ['left','myself','right'][putUpInfo.currentPutUpTurnIndex] ]:displayStatus.countdownOfPutUp}
        "
      >
        <img src="asset/image/clock.png" alt="" srcset="" />
        <span v-if="displayStatus.countdownOfGrab">
          抢地主计时：{{countdownNumber.grab}}
        </span>
        <span v-if="displayStatus.countdownOfPutUp"
          >出牌计时:{{countdownNumber.putUp}}</span
        >
      </div>
      <div class="controls" v-show="displayStatus.controls">
        <button @click="startGame" v-if="displayStatus.deliver">
          开始发牌！
        </button>
        <button
          id="snatch-btn"
          ref="snatch-btn"
          v-show="displayStatus.grabLordland"
        >
          抢地主！
        </button>
        <button
          id="not-snatch-btn"
          ref="not-snatch-btn"
          v-show="displayStatus.grabLordland"
        >
          不抢
        </button>
        <button ref="put-up-btn" v-show="displayStatus.putUpCards">出牌</button>
        <button ref="not-put-up-btn" v-show="displayStatus.putUpCards">
          不出
        </button>
        <audio controls autoplay style="display: none">
          <source src="asset/music/bg.mp3" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
      </div>

      <div v-if="displayStatus.stage" class="stage">
        <div class="user user--1">
          <div class="user-info">
            <img
              src="http://placeimg.com/640/480/business"
              alt=""
              class="user-info__avatar"
            />

            <div class="user-info__username">Zelda Carroll</div>
            <div class="user-info__score">当前积分：5000</div>
          </div>
          <div class="user-card">
            <div
              v-for="itemCard in firstUserCardsBindedView"
              class="card card--u1"
              :class="'card-' + itemCard"
            ></div>
          </div>
        </div>
        <div class="center">
          <div class="center__cards">
            <!--  地主牌 -->
            <div
              v-for="itemCard in landLordCardsShuffled"
              class="card card--lord"
              :class="'card-' + itemCard"
            ></div>
          </div>
          <div class="center__info">
            <div
              v-for="itemCard in desktopCardsInfo.cards"
              class="card card--desktop"
              :class="'card-' + itemCard"
            ></div>
          </div>
        </div>
        <div class="user user--2">
          <div class="user-info">
            <img
              src="http://placeimg.com/640/480/people"
              alt=""
              class="user-info__avatar"
            />

            <div class="user-info__username">Gregory Keebler</div>
            <div class="user-info__score">当前积分：12000</div>
          </div>
          <div class="user-card">
            <div
              v-for="itemCard in secondUserCardsBindedView"
              class="card card--u2"
            ></div>
          </div>
        </div>
        <div class="user user--3">
          <div class="user-info">
            <img
              src="http://placeimg.com/640/480/animals"
              alt=""
              class="user-info__avatar"
            />

            <div class="user-info__username">Richie Wiza</div>
            <div class="user-info__score">当前积分：48000</div>
          </div>
          <div class="user-card">
            <!-- 每个元素都绑定点击事件？没有委托？性能怎么样，VUE是怎么处理的？ -->
            <div
              v-for="(item,index) in myselfUserCardsBindedView"
              :class="['card card--u3', {['card-'+item.number]:true,'card--u3--selected':item.isSelected,'card--u3--selecting':item.isSelecting}]"
              @mousedown="mousedownHandler(index,item)"
              @mouseup="mouseupHandler(index,item)"
              @mouseenter="mouseenterHandler(index,item)"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="module" src="js/index.js"></script>
  </body>
</html>
111222333999
