<!-- <span>
              第一位抢地主的人：{{player[grabLandlordInfo.firstGrabPlayerIndex]}}<br />
              第二位抢地主的人：{{player[grabLandlordInfo.secondGrabPlayerIndex]}}<br />
              第三位抢地主的人：{{player[grabLandlordInfo.thirdGrabPlayerIndex]}}<br />
              当前player名字是{{player[grabLandlordInfo.currentGrabTurnIndex]}}
              <br />
              剩余计时：{{countdownNumber.grab}} <br />
              抢地主状态：{{Array.from(grabLandlordInfo.grabIndexRecord) }}
              <br />
              最终地主是:{{grabLandlordInfo.landlordPlayerIndex}},{{player[grabLandlordInfo.landlordPlayerIndex]}}
            </span>
            <hr />
            <span>
              第1个出牌的人：{{player[putUpInfo.firstPutUpPlayerIndex]}} <br />
              第2个出牌的人：{{player[putUpInfo.secondPutUpPlayerIndex]}} <br />
              第3个出牌的人：{{player[putUpInfo.thirdPutUpPlayerIndex]}} <br />
              当前出牌的人：{{player[putUpInfo.currentPutUpTurnIndex]}} <br />
              剩余计时：{{countdownNumber.putUp}} <br />
              出牌索引顺序：
              <span v-if="putUpInfo.putUpIndexRecord">
                <span v-for="i in Array.from(putUpInfo.putUpIndexRecord)"
                  >{{i}}</span
                >
              </span>
              <br />
            </span> -->
